@import "tailwindcss";

@theme inline {
  --color-muted: hsla(280, 12%, 60%);
  --color-secondary: hsla(280, 12%, 10%);
  --color-tertiary: hsla(280, 12%, 15%);
  --color-accent: hsla(280, 12%, 20%);
  --color-colored: hsla(257, 63%, 46%);
  --radius-default: 0.625rem;
  --radius-md: 0.625rem;
  --radius-lg: 0.9375rem;
  --radius-xl: 1.25rem;
  --radius-2xl: 1.875rem;
  --radius-3xl: 2.5rem;
  --animate-scale-in: scaleIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-scale-out: scaleOut 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideUp: slideIn 300ms  cubic-bezier(0.87, 0, 0.13, 1);
  --animate-slideDown: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.responsive {
  @apply px-8 lg:px-16;
}

:root {
  --background: #000;
  --foreground:  #fff;
}

body {
  background: var(--background);
  color: var(--foreground);
}
@layer utilities {
  
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
}
@keyframes slideIn {
  to {
    height: 0px
  }
  from {
    height: var(--radix-accordion-content-height)
  }
}

@keyframes slideDown {
  from {
    height: 0px
  }
  to {
    height: var(--radix-accordion-content-height)
  }
}